    /* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
body{
    z-index: 1;
    background-color: #F3F3F3;
    width: 100%;
    height: 100vh;
    font-family: lato;
}
@font-face{
    font-family: lato;
    src: url(../fonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: lato-g;
    src: url(../fonts/Lato/Lato-Bold.ttf);
}
    /* RESET */
    /* BURGER MENU */
label{
    font-size: 26px;
     line-height: 70px;
     display: none;
}
#toggle{
    display: none;
}
    /* BURGER MENU */
    /* MOBILE FIRTS */
    /* SMARTPHONE */
@media (max-width: 480px){
        /* GRID */
    body{
        background-color: #F3F3F3;
    }
    header{
        background-color: white;
    }
    #grid-area{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer"
        ;
        grid-template-columns: 100%;
        grid-template-rows: 2fr 1fr 2fr;
    }
    header{
        grid-area: header;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
    }
        /* GRID */
        /* MENU */
        /* MENU BURGER */
    label{
        display: block;
        cursor: pointer;
        font-size: 80px;
        color: white;
    }
    #menu{
        text-align: center;
        width: 100%;
        display: none;
    }
    #menu a{
        font-family: lato-g;
        display: block;
        text-decoration: none;
        color: #001E33;
        background-color: white;
        margin-top: 10px;
        padding: 2%;
    }
    #toggle:checked + #menu{
        display: block;
    }
        /* MENU BURGER */
    .logo{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
    #logo{
        width: 250px;
    }
    nav{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
    }
    header{
        display: table-column;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-content: center;
        background-color: #001b2e;
        padding-bottom: 2%;
    }
        /* MENU */
        /* SECTION INDEX */
    .fondo-index{
        background-image: url(../assets/fondo_index.jpg);
        background-repeat: no-repeat;
        background-position:initial;
        width: 100%;
        height: 200px;
    }
    #articulo-index img{
        width: 200px;
    }
    #section-index{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding: 5% 2%;
    }
    #section-index div{
        text-align: center;
    }
        /* SECTION INDEX */
        /* SECTION NOSOTROS */
    .art-abogado{
        display: flex;
        flex-flow: column nowrap;
        justify-items: center;
        align-items: center;
        padding: 5% 2%;
    }
    .art-abogado img{
        width: 200px
    }
    .art-abogado p, h1{
        text-align: center;
        margin-top: 2%;
    }
    #galeria-nosotros{
        text-align: center;
        margin: 5% 2%;
    }

        /* SECTION NOSOTROS */
        /* SECTION AREAS */
    #section-areas{
        padding: 5% 2%;
    }
    .area-abogados{
        display: flex;
        flex-flow: column nowrap;
        justify-items: center;
        align-items: center
    }
    .area-ilustrativa{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 2% 0 5%;
    }
    .areas-fila{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-content: center;    
        margin-top: 2%;
    }
    #section-areas img{
        width: 100px;
    }
    .area-abogados img{
        width: 150px;
    }

        /* SECTION AREAS */
        /* SECTION CONTACTO */
        #contacto{
            display: flex;
            flex-flow: row wrap;
            height: 100%;
            padding: 5% 2%;
            width: 100%;
        }
        
        #form form{
            width: 100%;
            padding: 0 3%;
        }
        form input{
            display: inline;
            border: none;
            width: 100%;
            padding: 2%;
            margin-bottom: 2%;
        }
        textarea{
            border: none;
            margin-top: 3%;
            width: 100%;
            margin-bottom: 3%;
        }
        #form h1{
            font-size: 200%;
            text-align: center;
        }
        #form h3{
            width: 100%;
            font-size: 150%;
            text-align: center;
            padding-bottom: 5%;
        }
        #maps{
            width: 100%;
            height: 500px;
            
        }
        #maps h1{
            font-size: 200%;
            text-align: center;
            padding-bottom: 9%;
        }
        iframe{
            width: 100%;
            height: 80%;
        }
        .boton-enviar{
            border: none;
            background-color: #198D68;
            color: white;
        }
        .boton-reset{
            border: none;
            background-color: #ff2c2c;
            color: white;
        } 
        /* SECTION CONTACTO */
        /* FOOTER */
    footer{ 
        background-color: #001b2e;
        display: flex;
        flex-flow: column nowrap;
        justify-content:center;
        align-content: initial;
        padding: 2% 2%;
    }
    .f-contacto{
        text-align: start;
        list-style: none;
        color: white;
    }
    .f-menu{
        margin-top: 2%;
    }
    .f-menu a{
        text-decoration: none;
        color: white;
    }
    .f-redes{
        margin-top: 2%;
    }
    .f-redes img{
        border: solid 1px white;
        border-radius: 50%;
        width: 40px;
    }
        /* FOOTER */
}
    /* SMARTPHONE */
    /* TABLET */
@media (min-width: 481px) and (max-width: 1023px) {
        /* GRID */
    #grid-area{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer"
        ;
        grid-template-columns: 100%;
        grid-template-rows: 2fr 1fr 2fr;
    }
    header{
        grid-area: header;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
    }
        /* GRID */
        /* MENU */
    .logo{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-bottom: 2%;
    }
    #logo{
        width: 150px;
    }
    header{
        background-color: #001829;
        border-bottom: solid 1px black;
        padding-bottom: 2%;
    }
    #menu{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        background-color: #F3F3F3;
    }
    #menu div a{
        font-family: lato-g;
        text-decoration: none;
        color: black;
    }
        /* MENU */
        /* SECTION INDEX */
    #section-index{
        padding: 2%;
    }
    .fondo-index{
        background-image: url(../assets/fondo_index.jpg);
        background-repeat: no-repeat;
        background-position:initial;
        width: 100%;
        height: 200px;
    }
    #articulo-index{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    #articulo-index div img{
        width: 200px;
    }
    .d-index{
        width: 75%;
    }
    .d-index h1{
        text-align: center;
        margin-left: 2%;
        padding-bottom: 2%;
    }
    .d-index p{
        text-align: start;
        margin-left: 2%;
        padding-bottom: 2%;
    }
        /* SECTION INDEX */
        /* SECTION NOSOTROS */
    .art-abogado{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        padding: 2%;
    }
    .art-abogado div{
        width: 80%;
        padding-left: 2%;
    }
    .art-abogado h1 p{
        text-align: center;
        margin: 1% 0;
    }
    .art-abogado img{
        width: 150px;
    }
    .titulo-estudio{
        text-align: center;
        padding-bottom: 1%;
    }
    #galeria-nosotros{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 0 1%;
    }
    #galeria-nosotros img{
        padding-bottom: 1%;
    }
        /* SECTION NOSOTROS */
        /* SECTION AREAS */
    .area-abogados{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 2%;
    }
    .foto-abogado{
        width: 200px;
    }
    .area-abogados p{
        width: 70%;
        margin-left: 1%;
    }
    #section-areas .area-ilustrativa img{
        width: 100px;
    }
    .area-ilustrativa{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 2% 2% 10%;
    }
    .titulo-areas{
        text-align: center;
        padding-bottom: 2%;
    }
    .areas-fila{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 0 2% 2%
    }
    #section-areas .areas-fila img{
        width: 120px;
    }
        /* SECTION AREAS */
        /* SECTION CONTACTOS */
    #contacto{
        display: flex;
        flex-flow: row wrap;
        height: 100%;
        padding: 5% 2%;
        width: 100%;
    }
    
    form{
        width: 100%;
        padding: 0 3%;
    }
    input{
        border: none;
        width: 49%;
        padding: 2%;
        margin-bottom: 2%;
    }
    textarea{
        border: none;
        margin-top: 3%;
        width: 100%;
        margin-bottom: 3%;
    }
    #form h1{
        font-size: 200%;
        text-align: center;
    }
    #form h3{
        width: 100%;
        font-size: 150%;
        text-align: center;
        padding-bottom: 5%;
    }
    #maps{
        width: 100%;
        height: 500px;
        
    }
    #maps h1{
        font-size: 200%;
        text-align: center;
        padding-bottom: 9%;
    }
    iframe{
        width: 100%;
        height: 80%;
    }
    .boton-enviar{
        border: none;
        background-color: #198D68;
        color: white;
    }
    .boton-reset{
        border: none;
        background-color: #ff2c2c;
        color: white;
    }    
        /* SECTION CONTACTOS */
        /* FOOTER */
    footer{ 
        background-color: #001829;
        display: flex;
        flex-flow: row wrap;
        justify-content:space-around;
        align-items: center;
        padding: 2% 0;
    }
    .f-contacto{
        color: white;
        list-style: none;
    }
    .f-menu a{
        text-decoration: none;
        color: white;
    }
    .f-redes img{
        border: solid 1px white;
        border-radius: 50%;
        width: 40px;
    }
        /* FOOTER */
}
    /* TABLET */
    /* DESKTOP */
@media (min-width: 1024px){
        /* LA FONT DEL LOGO ES LATO */
        /* GRID GENERAL */
    #grid-area{
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 2fr 1fr;
    }
    header{
        grid-area: header;
    }
    main{ 
        grid-area: main;
    }
    footer{
        grid-area: footer;
    }
        /* GRID GENERAL */
        /* MENU */
    header{
        display: flex;
        flex-flow: row nowrap;
        justify-content:space-between;
        align-items: center;
        background-color: #001829;
        font-family: lato;
        font-style: normal;
        border-bottom: 3px solid black;
    }
    #menu{
        border-left: 3px solid black;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        border-radius: 20px 0px 0px 20px;
        background-color: #F3F3F3;
        height: 60px;
        display: flex;
        flex-flow: row nowrap;
        align-items:center;
        width: 100%;
    }
    #menu div{
        padding-left: 60px;
        padding-right: 10px;
    }
    #menu div a{
        font-family: lato-g;
        text-decoration: none;
        color: #001E33;
        font-size: 150%;
    }
    #logo{
        width: 130px;
        margin-left: 10px;
    }
        /* MENU */
        /* SECTION INDEX */
    #section-index{
        margin-left: 5%;
        margin-right: 5%;
        padding: 5% 0;
    }
    #articulo-index{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
    }
    #articulo-index div img{
        width: 200px;
    }
    .d-index{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        padding-left: 3%;
        width: 86%;
    }
    .d-index h1{
        text-align: center;
        padding-bottom: 2%;
    }
    .fondo-index{
        background-image: url(../assets/fondo_index.jpg);
        background-repeat: no-repeat;
        background-position:initial;
        width: 100%;
        height: 200px;
    }
        /* SECTION INDEX */
        /* SECTION NOSOTROS */
    .art-abogado{
        display: flex;
        flex-flow: row nowrap;
        padding: 2% 10%;
    }
    .art-abogado img{
        width: 300px;
    }
    .art-abogado div{
        margin-left: 5%;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
    }
    #galeria-nosotros{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 2%;
    }
    .titulo-estudio{
        text-align: center;
    }
        /* SECTION NOSOTROS */
        /* SECTION AREAS */
    #section-areas{
        padding: 2% 0%;
    }
    .area-abogados{
        display: flex;
        flex-flow: row nowrap;
        justify-content:space-between;
        align-content: center;
        margin: 0 10%;
    }
    .area-abogados img{
        padding-right: 2%;
    }
    .area-ilustrativa{
        display: flex;
        flex-flow: row nowrap;
        justify-content:space-evenly;
        align-items: center;
        padding: 2% 0 7%;
    }
    .areas-fila{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        padding: 1% 2%;
    }
    .titulo-areas{
        text-align: center;
        padding: 1% 0;
    }
    .foto-abogado{
        width: 250px;
    }
    .area-ilustrativa img{
        width: 80px;
    }
    #section-areas #areas img{
        width: 150px;
    }
        /* SECTION AREAS */
        /* SECTION CONTACTO */
    #contacto{
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        padding: 3% 2%;
    }
    #form{
        width: 50%;
    }
    form{
        width: 100%;
        padding: 0 3%;
    }
    input{
        border: none;
        width: 49%;
        padding: 2%;
        margin-bottom: 2%;
    }
    textarea{
        border: none;
        margin-top: 3%;
        width: 100%;
        margin-bottom: 3%;
    }
    #form h1{
        font-size: 200%;
        text-align: center;
    }
    #form h3{
        width: 100%;
        font-size: 150%;
        text-align: center;
        padding-bottom: 5%;
    }
    #maps{
        width: 50%;
    }
    iframe{
        width: 100%;
        height: 85%;
    }
    #maps h1{
        padding-bottom: 8%;
        font-size: 200%;
        text-align: center;
    }
    .boton-enviar{
        border: none;
        background-color: #198D68;
        color: white;
    }
    .boton-reset{
        border: none;
        background-color: #ff2c2c;
        color: white;
    }
        /* SECTION CONTACTO */
        /* FOOTER */
    footer{ 
        background-color: #001829;
        display: flex;
        flex-flow: row wrap;
        justify-content:space-around;
        align-items: center;
        padding: 2% 0;
    }
    .f-contacto{
        color: white;
        list-style: none;
    }
    .f-menu a{
        text-decoration: none;
        color: white;
    }
    .f-redes img{
        border: solid 0.5px white;
        border-radius: 50%;
        width: 40px;
    }
        /* FOOTER */
        /* DESKTOP */
}